.time {
    display: flex;
}
.time div {
    background: lightseagreen;
    font-size: 2em;
    width: 60px;
    height: 60px;
    border-radius: 5px;
}
.btn {
    display: flex;
    width: 100px;
    height: 40px;
}
span {
    font-size: 2em;
}
.show {
    display: none
}
.hide {
    display: block
}